@use 'base/variable' as *;
@use 'base/mixin' as *;

.swiper-wrapper.row {
    flex-wrap: nowrap;
}

.th-slider {
    &.has-shadow {
        padding-left: 12px;
        padding-right: 12px;
        margin: -25px -12px;

        .swiper-wrapper {
            padding: 25px 0;
        }
    }
}

.swiper-fade {
    .swiper-slide {
        transition: 0.6s ease-in-out;
    }

    .swiper-slide {
        opacity: 0 !important;
    }

    .swiper-slide.swiper-slide-active {
        opacity: 1 !important;
    }
}

.slider-pagination {
    bottom: var(--swiper-pagination-bottom, 0px);
}

.swiper-pagination-bullets {
    position: relative;
    z-index: 3;
    text-align: center;
    margin: 50px 0 0px 0;
    line-height: 30px;
    height: 30px;

    .swiper-pagination-bullet {
        display: inline-block;
        --swiper-pagination-bullet-size: 14px;
        --swiper-pagination-bullet-horizontal-gap: 13px;
        margin: 5px 7px;
        opacity: 1;
        background-color: $border-color6;
        position: relative;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            inset: -8px;
            border: 1px solid $border-color6;
            transform: scale(0.2);
            border-radius: inherit;
            transition: 0.4s ease-in-out;
        }

        &.swiper-pagination-bullet-active {
            background-color: $theme-color;

            &:before {
                transform: scale(1);
                border-color: $theme-color;
            }
        }
    }
}

.slider-area {
    position: relative;
}

.slider-arrow {
    display: inline-block;
    padding: 0;
    background-color: $theme-color;
    color: $white-color;
    position: absolute;
    top: 50%;
    border: none;
    // box-shadow: 0px 6px 20px rgba(0, 96, 255, 0.6);
    left: var(--pos-x, -120px);
    width: var(--icon-size, 56px);
    height: var(--icon-size, 56px);
    line-height: var(--icon-size, 56px);
    font-size: var(--icon-font-size, 18px);
    margin-top: calc(var(--icon-size, 56px) / -2);
    z-index: 3;
    border-radius: 99px;

    &.default {
        position: relative;
        --pos-x: 0;
        margin-top: 0;
    }

    &.slider-next {
        right: var(--pos-x, -120px);
        left: auto;
    }

    &:hover {
        background-color: $title-color;
        color: $white-color;
    }

    &.style2 {
        background: rgba($color: #ffffff, $alpha: 0.2);

        &:hover {
            background: $white-color;
            color: $theme-color;
        }
    }

    &.style-border {
        background: transparent;
        border: 1px solid $white-color;

        &:hover {
            background: $theme-color;
            border-color: $theme-color;
            color: $white-color;
        }
    }

    &.style-border2 {
        background: transparent;
        border: 1px solid $light-color;
        color: $title-color;

        &:hover {
            background: $theme-color;
            border-color: $theme-color;
            color: $white-color;
        }
    }
}

.arrow-margin {
    .slider-arrow {
        top: calc(50% - 30px);
    }
}

.arrow-wrap {
    position: relative;

    .slider-arrow {
        opacity: 0;
        visibility: hidden;
        transform: scale(0.4);
    }

    &:hover {
        .slider-arrow {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
        }
    }
}

@include xxl {
    .slider-arrow {
        --arrow-horizontal: -20px;
        --pos-x: 0px;
    }
}

@include ml {
    .slider-arrow {
        --arrow-horizontal: 40px;
        --pos-x: -30px;
    }
}

@include md {
    .slider-arrow {
        display: none;
    }
}

.icon-box {
    .slider-arrow {
        opacity: 1;
        visibility: visible;
        transform: none;

        &:not(:last-child) {
            margin-right: 8px;
        }
    }

    @include md {
        .slider-arrow {
            display: inline-block !important;
        }
    }
}

@include md {
    .slider-arrow {
        --icon-size: 40px;
        line-height: 38px;
        margin-right: 40px;
        font-size: 14px;

        &.slider-next {
            margin-right: 0;
        }
    }

    .slick-dots {
        margin: 40px 0 0 0;
    }

    .icon-box {
        .slider-arrow {
            margin-right: 0;
        }
    }
}