:root {
  --theme-color         : #EB1400;
  --theme-color2        : #3F9065;
  --theme-color3        : #FF9924;
  --theme-color4        : #F1C40F;
  --theme-color5        : #C9AB81;
  --title-color         : #121212;
  --body-color          : #6C6C6C;
  --smoke-color         : #F7F2E2;
  --smoke-color2        : #E9C590;
  --smoke-color3        : #F2F2F2;
  --smoke-color4        : #FDE1B9;
  --black-color         : #000000;
  --black-color2        : #072F25;

  --black-color3        : #171717;
  --black-color4        : #2F394A;
  --black-color5        : #22272E;
  --black-color6        : #2D333D;
  --black-color7        : #0E0E13;
  --gray-color          : #bdbdbd;
  --white-color         : #ffffff;
  --light-color         : #AFB1C3;
  --yellow-color        : #FFB539;
  --success-color       : #28a745;
  --error-color         : #dc3545;
  --th-border-color     : #D8DDE1;
  --th-border-color2    : #9D9D9D;
  --th-border-color3    : #252A31;
  --th-border-color4    : #353B45;
  --th-border-color5    : #49515C;
  --th-border-color6    : #383D46;
  --title-font          : "Barlow Condensed", sans-serif;
  --banner-5-title       : "Bevan", serif;
  --body-font           : "Inter", sans-serif;
  --subtitle-font       : "Bangers", system-ui;
  --icon-font           : "Font Awesome 6 Pro";
  --main-container      : 1520px;
  --container-gutters   : 24px;
  --section-space       : 120px;
  --section-space-mobile: 80px;
  --section-title-space : 60px;
  --ripple-ani-duration : 5s;
  --th-body-background  : #ffffff;
}

// Color Variation
$theme-color          : var(--theme-color);
$theme-color2         : var(--theme-color2);
$theme-color3         : var(--theme-color3);
$theme-color4         : var(--theme-color4);
$theme-color5         : var(--theme-color5);
$title-color          : var(--title-color);
$body-color           : var(--body-color);
$smoke-color          : var(--smoke-color);
$smoke-color2         : var(--smoke-color2);
$smoke-color3         : var(--smoke-color3);
$smoke-color4         : var(--smoke-color4);
$white-color          : var(--white-color);
$light-color          : var(--light-color);
$black-color          : var(--black-color);
$black-color2         : var(--black-color2);
$black-color3         : var(--black-color3);
$black-color4         : var(--black-color4);
$black-color5         : var(--black-color5);
$black-color6         : var(--black-color6);
$black-color7         : var(--black-color7);
$gray-color           : var(--gray-color);
$yellow-color         : var(--yellow-color);
$success-color        : var(--success-color);
$error-color          : var(--error-color);
$border-color         : var(--th-border-color);
$border-color2        : var(--th-border-color2);
$border-color3        : var(--th-border-color3);
$border-color4        : var(--th-border-color4);
$border-color5        : var(--th-border-color5);
$border-color6        : var(--th-border-color6);
$body-background      : var(--th-body-background);

// Font Variation
$icon-font   : var(--icon-font);

// Typography
$title-font      : var(--title-font);
$body-font       : var(--body-font);
$subtitle-font     : var(--subtitle-font);
$body-font-size  : 16px;
$body-line-Height: 26px;
$body-font-weight: 400;
$p-line-Height   : 1.75;

// Device Variation
$hd: 1921px; // Large Device Than 1920
$xxl: 1500px; // Extra large Device
$ml: 1399px; // Medium Large Device
$xl: 1299px; // Medium Large Device
$lg: 1199px; // Large Device (Laptop)
$md: 991px; // Medium Device (Tablet)
$sm: 767px; // Small Device
$xs: 575px; // Extra Small Device
$vxs: 375px; // Extra Small Device

// Spacing Count with 5x
$space-count: 10;

// Section Space  For large Device
$space         : var(--section-space);
$space-extra   : calc(var(--section-space) - 30px);
$space-extra2   : calc(var(--section-space) - 40px);

// Section Space On small Device
$space-mobile         : var(--section-space-mobile);
$space-mobile-extra: calc(var(--section-space-mobile) - 30px);


// BG Color Mapping
$bgcolorMap  : (
  "theme"    : $theme-color,
  "theme2"   : $theme-color2,
  "theme3"   : $theme-color3,
  "smoke"    : $smoke-color,
  "smoke2"   : $smoke-color2,
  "smoke3"   : $smoke-color3,
  "white"    : $white-color,
  "black"    : $black-color,
  "black2"   : $black-color2,
  "black3"   : $black-color3,
  "title"    : $title-color,
  "body"     : $body-color,
);


// Overlay Color Mapping 
$overlaycolorMap: (
  "theme"     : $theme-color,
  "theme2"    : $theme-color2,
  "title"     : $title-color,
  "smoke"     : $smoke-color,
  "white"     : $white-color,
  "black"     : $black-color,
  "black7"    : $black-color7,
  "overlay1"  : #080E1C
);


// Text Color Mapping 
$textColorsMap: (
  "theme"     : $theme-color,
  "theme2"    : $theme-color2,
  "theme5"    : $theme-color5,
  "title"     : $title-color,
  "body"      : $body-color,
  "white"     : $white-color,
  "light"     : $light-color,
  "yellow"    : $yellow-color,
  "success"   : $success-color,
  "error"     : $error-color
);


// Font Mapping 
$fontsMap: (
  "icon"      : $icon-font,
  "title"     : $title-font,
  "body"      : $body-font
);