@use 'base/variable' as *;
@use 'base/mixin' as *;

/* Insta css
 ---------------------*/


.insta-item {
  transition: .4s;
    .thumb {
        position: relative;
        border-radius: 30px;
        overflow: hidden;
        transition: .4s;
        img {
            width: 100%;
            height: 100%;
        }
        .icon {
            position: absolute;
            left: 50%;
            top: 60%;
            transform: translate(-50%, -50%);
            color: var(--white-color);
            font-size: 24px;
            opacity: 0;
        }
    }
}

.insta-item {
    &:hover {
        .thumb .icon {
            top: 50%;
            opacity: 1;
        }
        .thumb::before {
            opacity: .6;
        }
    }
    .thumb {
        &:before {
            content: "";
            position: absolute;
            inset: 0;
            background: var(--black-color);
            opacity: 0;
            transition: .4s;
        }
    }
}
.instsSlider2 {
    .swiper-slide {
        &:nth-child(1) .thumb {
            border-radius: 10px 180px 10px 10px;
            img {
                border-radius: 10px 180px 10px 10px;
            }
            &:before {
                border-radius: 10px 180px 10px 10px; 
            }
        }
        &:nth-child(2) .thumb {
        border-radius: 180px 10px 10px 10px;
            img {
                border-radius: 180px 10px 10px 10px;
            }
            
            &:before {
                border-radius: 180px 10px 10px 10px;            
            }
        }
        &:nth-child(3) .thumb {
            border-radius: 100px;
            img {
                border-radius: 100px;
            }
            
            &:before {
                border-radius: 100px;            
            }
        }
        &:nth-child(4) .thumb {
        border-radius: 10px 10px 180px 180px;
            img {
                border-radius: 10px 10px 180px 180px;
            }
            
            &:before {
                border-radius: 10px 10px 180px 180px;            
            }
        }
        &:nth-child(5) .thumb {
            border-radius: 180px 10px 10px 10px;
            img {
                border-radius: 180px 10px 10px 10px;
            }
            
            &:before {
                border-radius: 180px 10px 10px 10px;            
            }
        }
        &:nth-child(6) .thumb {
            border-radius: 10px 180px 10px 10px;
            img {
                border-radius: 10px 180px 10px 10px;
            }
            &:before {
                border-radius: 10px 180px 10px 10px; 
            }
        }
        &:nth-child(7) .thumb {
        border-radius: 180px 10px 10px 10px;
            img {
                border-radius: 180px 10px 10px 10px;
            }
            
            &:before {
                border-radius: 180px 10px 10px 10px;            
            }
        }
        &:nth-child(8) .thumb {
            border-radius: 50%;
            img {
                border-radius: 50%;
            }
            
            &:before {
                border-radius: 50%;            
            }
        }
        &:nth-child(9) .thumb {
        border-radius: 10px 10px 180px 180px;
            img {
                border-radius: 10px 10px 180px 180px;
            }
            
            &:before {
                border-radius: 10px 10px 180px 180px;            
            }
        }
        &:nth-child(10) .thumb {
            border-radius: 180px 10px 10px 10px;
            img {
                border-radius: 180px 10px 10px 10px;
            }
            
            &:before {
                border-radius: 180px 10px 10px 10px;            
            }
        }
    }
}

.instsSlider2 {
    .swiper-slide {
        margin-bottom: 30px !important;
        transition: all 0.5s ease-out;
    }
    .swiper-slide.swiper-slide-active {
        margin-top: 30px;
        margin-bottom: 0px !important;
        .insta-item {
            .thumb {
                border-radius: 100px;
                img {
                    border-radius: 100px;
                }
                &:before {
                    border-radius: 100px;
                }
            }
        }
    }
}

@include sm {
    .instsSlider2 .swiper-slide.swiper-slide-active {
        margin-top: 10px;
        margin-bottom: 0px !important;
    }
}

@include xs {
    .instsSlider2 {
        .swiper-slide.swiper-slide-active {
            .insta-item {
                .thumb {
                    border-radius: 50px;
                    img {
                        border-radius: 50px;
                    }
                    &:before {
                        border-radius: 50px;
                    }
                }
            }
        }
    }
}