@use 'base/variable' as *;
@use 'base/mixin' as *;

/* Menu 1 ---------------------------------- */

.menu-item-1 {
    display: flex;
    gap: 15px 20px;
    margin-bottom: 30px;

    .thumb {
        width: 84px;
        height: 84px;
    }

    .content {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .left {
            .box-title {
                font-size: 28px;
                margin-bottom: 2px;
            }

            .box-text {
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    right: -88%;
                    top: 15px;
                    width: 78%;
                    background: var(--smoke-color);
                    height: 1px;
                    border: 1px dashed var(--theme-color2);
                }
            }
        }

        .right .price {
            font-size: 28px;
            font-family: var(--subtitle-font);
            margin: 0;
            margin-top: 25px;

            span {
                margin-right: -4px;
                font-size: 22px;
            }
        }
    }

    .thumb img {
        border-radius: 20px;
    }
}

.menu-1-content-wrap {
    .filter-menu {
        padding-top: 10px;
    }

    .th-btn.tab-btn {
        margin-top: 0;
    }
}

.menu-img-1-1 {
    margin-left: -150px;
    margin-top: -215px;

    img {
        border-radius: 250px 250px 0 250px;
    }
}

.menu-img-1-2 {
    margin-right: -130px;
    margin-bottom: -10px;
    text-align: end;
    padding-bottom: 110px;

    img {
        border-radius: 0px 250px 250px 250px;
    }
}


.menu-1-content-wrap {
    .nav-tabs {
        justify-content: center;
        margin-bottom: 35px;
        border-bottom: 0;
        gap: 12px;
        margin-top: 10px;

        .nav-item .nav-link {
            border-radius: 30px;
            background: transparent;
            border: 1px solid var(--th-border-color);
            color: var(--title-color);

            &.active {
                background: var(--theme-color);
                border-color: var(--theme-color);
                color: var(--white-color);
            }
        }
    }
}

.menu-1-content-wrap.style-2 {
    .title-area .th-btn {
        margin-top: 0px;
    }

    .nav-tabs {
        gap: 15px 25px;
        margin-bottom: 55px;
    }
}

.menu-1-content-wrap.style-2 .nav-tabs .nav-link.th-btn {
    background: var(--smoke-color4);
    border: 0;
    padding: 15px 24px;
    border-radius: 0;

    &.active {
        background: var(--theme-color);
        border-color: var(--theme-color);
        color: var(--white-color);
    }
}


@media (max-width: 1800px) {
    .menu-img-1-1 {
        margin-left: -90px;
    }

    .menu-img-1-2 {
        margin-right: -90px;
    }
}

@include xxl {
    .menu-item-1 .content .left .box-text::before {
        right: -70%;
    }

    .menu-item-1 .content .left .box-text::before {
        content: "";
        position: absolute;
        right: -50%;
        width: 36%;
    }
}

@include ml {
    .menu-item-1 .content .left .box-text::before {
        display: none;
    }

    .menu-img-1-1 {
        margin-left: 0px;
    }

    .menu-img-1-2 {
        margin-right: 0px;
    }
}

@include lg {
    .menu-item-1 .content .left .box-title {
        font-size: 24px;
        margin-bottom: 2px;
    }
}

@include md {
    .menu-item-1 .content .left .box-text::before {
        display: block;
    }

    .menu-img-1-1.gsap-scroll-float-down2 {
        transform: inherit !important;
    }

    .menu-img-1-2.gsap-scroll-float-up {
        transform: inherit !important;
    }

    .menu-img-1-2.gsap-scroll-float-up {
        -webkit-transform: inherit !important;
        transform: inherit !important;
        text-align: center;
        margin-top: 0;
        margin-bottom: 75px;
    }

    .menu-item-1:last-child {
        margin-bottom: 0;
    }
}

@include sm {
    .menu-item-1 .content .left .box-text::before {
        display: none;
    }
}

@media (max-width: 420px) {
    .menu-item-1 .content .right {
        width: 80px;
    }

    .menu-item-1 {
        flex-direction: column;
    }

    .menu-item-1 .content {
        gap: 10px;
    }
}

/* Best Price 1 ---------------------------------- */

.best-deal-img-1-1 {
    margin-left: -230px;
    margin-top: -330px;
    border-radius: 0 0 200px;

    img {
        border-radius: 0 0 200px;
    }
}

.best-deal-img-1-2 {
    margin-left: 100px;
    margin-right: -100px;

    img {
        border-radius: 100px;
    }
}

.menu-1-content-wrap.style-2 {
    border-top: 1px dashed var(--th-border-color2);
    padding-top: 35px;

    .menu-item-1 {
        border-bottom: 1px dashed var(--th-border-color2);
        padding-bottom: 40px;
        margin-bottom: 36px;

        .content {
            align-items: center;

            .right .price {
                margin: 0;
                font-weight: 400;

                span {
                    font-size: 28px;
                    margin-right: 0;
                }
            }
        }

        .box-text:before {
            display: none;
        }
    }
}


.menu-text-slider-wrap {
    position: relative;
    margin-top: 70px;

    .menu-text.single {
        padding: 0 0 57px;
        font-size: 50px;
    }

    .box-title {
        font-size: 33px;
        font-family: var(--subtitle-font);
    }

    .swiper-pagination-bullets {
        margin: 0 0 20px;
    }

    .round-shape {
        position: absolute;
        width: 400px;
        height: 326px;
        background: var(--theme-color2);
        left: 50%;
        border-radius: 50%;
        bottom: -230px;
        transform: translateX(-50%);
    }

    .swiper-pagination-bullets .swiper-pagination-bullet::before {
        content: "";
        position: absolute;
        inset: -8px;
        border: 1px solid transparent;
        transform: scale(1.2);
        border-radius: inherit;
        transition: 0.4s ease-in-out;
    }

    .swiper-pagination-bullets .swiper-pagination-bullet {
        display: inline-block;
        --swiper-pagination-bullet-size: 10px;
        --swiper-pagination-bullet-horizontal-gap: 13px;
        opacity: 1;
        position: relative;
        cursor: pointer;
        background: var(--white-color);
    }

    .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background-color: var(--theme-color4) !important;

        &::before {
            border: 1px solid var(--white-color);
        }
    }
}

@include xl {
    .best-deal-img-1-2 {
        margin-left: 15px;
        margin-right: -30px;
    }
}

@include md {
    .best-deal-img-1-1 {
        margin-left: 0;
        margin-top: 0;
        text-align: center;
    }

    .best-deal-img-1-2 {
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
    }

    .best-deal-img-1-2.gsap-scroll-float-up {
        transform: inherit !important;
    }
}
