@use 'base/variable' as *;
@use 'base/mixin' as *;

/* Service Card ---------------------------------- */


/* Service Card 3---------------------------------- */
.service-area-3 {
    padding-top: 220px;
    margin-top: -100px;
    @include hd {
        padding-top: 260px;
        margin-top: -140px;
    }
    @include md {
        padding-top: 180px;
    }
    @include sm {
        padding-top: 160px;
        margin-top: -80px;
    }
    @include xs {
        padding-top: 140px;
        margin-top: -60px;
    }
}
.service-card3 {
    padding: 40px;
    border-radius: 30px;
    background: $title-color;
    position: relative;
    display: flex;
    gap: 20px;
    .service-card-icon {
        transition: 0.4s;
        flex: none;
        img {
            transition: 0.4s;
        }
    }
    .box-title {
        margin-top: -0.3em;
        margin-bottom: 15px;
        font-weight: 500;
        a {
            color: $white-color;
            &:hover {
                color: $theme-color;
            }
        }
    }
    .box-text {
        margin-bottom: 15px;
        color: $light-color;
    }
    &:hover {
        .service-card-icon {
            img {
                transform: rotateY(180deg);
            }
            &:after {
                border-color: $theme-color2;
            }
        }
    }
    @include xs {
        padding: 30px;
    }
    @include vxs {
        display: block;
        .service-card-icon {
            margin-bottom: 20px;
        }
    }
}

/* Service Card 4---------------------------------- */
.service-card4 {
    background: $smoke-color;
    border-radius: 30px;
    padding: 40px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.4s;
    .service-card-bg-shape {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0.04;
        z-index: -1;
        transition: 0.4s;
    }
    .service-card-icon {
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.08);
        border-radius: 10px;
        height: 100px;
        width: 100px;
        line-height: 100px;
        text-align: center;
        background: $white-color;
        margin-bottom: 40px;
        transition: 0.4s;
        img {
            transition: 0.4s;
        }
    }
    .box-title {
        font-size: 30px;
        font-weight: 500;
    }
    .box-text {
        margin-bottom: 14px;
        transition: 0.4s;
    }
    &:hover {
        background: $black-color2;
        .service-card-bg-shape {
            opacity: 1;
        }
        .service-card-icon {
            background: $theme-color;
            img {
                filter: brightness(9);
                transform: rotateY(180deg);
            }
        }
        .box-title {
            a {
                color: $white-color;
                &:hover {
                    color: $theme-color;
                }
            }
        }
        .box-text {
            color: $light-color
        }
        .link-btn {
            color: $theme-color;
            &:before {
                background: $theme-color;
            }
        }
    }
    @include xl {
        .box-title {
            font-size: 24px;
        }
    }
    @include vxs {
        padding: 35px;
        .service-card-icon {
            margin-bottom: 30px;
        }
    }
}


/* Service Card 5---------------------------------- */
.service-wrap5 {
    background: $white-color;
    border-radius: 50px;
    padding: 45px;
    margin: 0 -45px;
    position: relative;
    z-index: 1;
    @include ml {
        margin: 0;
    }
    @include lg {
        padding: 30px;
    }
    @include vxs {
        padding: 20px;
        border-radius: 40px;
    }
}
.service-card-wrap5 {
    border: 1px solid $border-color;
    border-right: 0;
    border-radius: 0px;
    &:first-child {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    &:last-child {
        border-right: 1px solid $border-color;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    @include md {
        border: 0;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}
.service-card5 {
    padding: 40px;
    text-align: center;
    .service-card-icon {
        width: 90px;
        height: 76px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        margin-bottom: 38px;
        .service-card-icon-bg {
            position: absolute;
            inset: 0;
            background: $smoke-color;
            z-index: -2;
        }
        .service-card-icon-bg2 {
            position: absolute;
            inset: 10px;
            background: rgba(255, 255, 255, 0.7);
            backdrop-filter: blur(7.5px);
            z-index: -1;
        }
        .service-card-icon-shape2,
        .service-card-icon-shape1 {
            position: absolute;
            width: 29px;
            height: 25px;
            background: $theme-color;
            top: 0;
            left: 17px;
            z-index: -2;
        }
        .service-card-icon-shape2 {
            left: auto;
            top: auto;
            bottom: 0;
            right: 17px;
        }
    }
    .box-title {
        font-size: 24px;
        font-weight: 500;
        position: relative;
        padding-bottom: 11px;
        margin-bottom: 23px;
        &:after {
            content: '';
            position: absolute;
            height: 3px;
            width: 60px;
            background: $theme-color;
            transform: translate(-50%, 0);
            left: 50%;
            bottom: 0;
        }
    }
    .icon-btn {
        margin-top: 30px;
    }
    @include lg {
        padding: 30px;
    }
    @include md {
        border: 1px solid $border-color;
        border-radius: 30px;
    }
    @include vxs {
        padding: 20px;
    }
}

/* Service Details ---------------------------------- */ 
.page-title {
    margin-bottom: 20px;
}

.page-img {
    margin-bottom: 40px;
    overflow: hidden;
    border-radius: 30px;
    img {
        width: 100%;
    }
    @include sm {
        border-radius: 10px;
    }
}
.page-single {
    margin-bottom: 30px;
}
.service-feature {
    background-color: $white-color;
    padding: 20px 20px 20px 70px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    &-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        @include sm {
            grid-template-columns: repeat(1, 1fr);
        }
    }    
    .box-icon {
        background: $smoke-color2;
        @include equal-size-lineHeight(80px);
        text-align: center;
        border-radius: 99px;
        position: absolute;
        top: -20px;
        left: -20px;
        z-index: 2;
        &:after {
            content: '';
            position: absolute;
            inset: 10px;
            background-color: $theme-color;
            border-radius: inherit;
            z-index: -1;
        }   
    }
    .box-title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
        margin-top: -0.3em;
    }
}

.service-details-inner-wrap {
    display: flex;
    background: $theme-color;
    padding: 24.5px 40px;
    align-items: center;
    .service-icon {
        font-size: 60px;
        color: $white-color;
        opacity: 0.3;
        margin-right: -15px;
    }
    .service-inner-details {
        .service-inner-wrap-text {
            font-size: 16px;
            font-weight: 600;
            font-family: $title-font;
            color: $white-color;
            margin-bottom: 10px;
        }
        .service-inner-wrap-title {
            margin-bottom: -0.2em;
            font-size: 30px;
            font-weight: 700;
            color: $white-color;
        }
    }
    @include vxs {
        padding: 24.5px 30px;
        display: block;
        .service-inner-details .service-inner-wrap-title {
            font-size: 24px;
        }
        .service-inner-details .service-inner-wrap-text {
            font-size: 14px;
            margin-top: 10px;
        }
    }
}


