@use 'base/variable' as *;
@use 'base/mixin' as *;

.checklist {
    ul {
        padding-left: 0;
        list-style: none;
        text-align: left;
        margin-bottom: 0;
    }

    &.list-two-column {
        ul {
            display: inline-grid;
            grid-template-columns: auto auto;
            gap: 0 40px;

            @include sm {
                grid-template-columns: auto;

                li {
                    text-align: initial;
                }
            }
        }
    }

    li {
        color: $title-color;
        font-weight: 500;
        font-family: $title-font;
        display: flex;
        align-items: center;
        gap: 12px;
        line-height: 1;

        >i {
            color: $theme-color;
        }

        &:not(:last-child) {
            margin-bottom: 17px;
        }
    }

    &.mb-45 {
        @include lg {
            margin-bottom: 40px;
        }
    }

    &.style2 {
        li {
            font-size: 16px;
            font-weight: 500;
            color: $title-color;
            gap: 12px;
            line-height: initial;
            align-items: center;
            position: relative;

            &:before {
                position: relative;
                line-height: 1;
            }

            &:not(:last-child) {
                margin-bottom: 18px;
            }
        }
    }

    &.style3 {
        li {
            font-size: 16px;
            font-weight: 400;
            font-family: $body-font;
            color: $body-color;
            gap: 10px;
            line-height: initial;
            align-items: start;

            &:not(:last-child) {
                margin-bottom: 8px;
            }

            img {
                margin-top: 5px;
            }

            >i {
                font-size: 16px;
                border-radius: 0;
                background: transparent;
                padding: 0px;
            }

            p {
                margin-bottom: 0;
                font-size: 17px;
                color: var(--title-color);
            }
        }
    }

    &.style-line {
        li {
            font-size: 16px;
            font-family: $body-font;
            position: relative;
            gap: 15px;

            &::before {
                content: '';
                position: relative;
                height: 1px;
                width: 30px;
                background: $theme-color;

            }
        }
    }

    &.style-white {
        li {
            color: $white-color;
        }
    }
}

.mega-hover {
    position: relative;
    overflow: hidden;
    z-index: 2;

    &:after,
    &:before {
        content: "";
        position: absolute;
        pointer-events: none;
        opacity: 1;
        z-index: -1;
    }

    &:before {
        top: 0;
        right: 51%;
        bottom: 0;
        left: 50%;
        background: rgba(255, 255, 255, 0.2);
    }

    &:after {
        top: 50%;
        right: 0;
        bottom: 50%;
        left: 0;
        background: rgba(255, 255, 255, 0.3);
    }

    &:hover {
        &:before {
            left: 0;
            right: 0;
            opacity: 0;
            transition: all 900ms linear;
        }

        &:after {
            top: 0;
            bottom: 0;
            opacity: 0;
            transition: all 900ms linear;
        }
    }
}

.bg-img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}

.th-video {
    position: relative;
    border-radius: 10px;

    img {
        border-radius: inherit;
    }

    .play-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.rounded-10 {
    border-radius: 10px;
}

.rounded-20 {
    border-radius: 20px;

    @include sm {
        border-radius: 10px;
    }
}

.btn-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px 30px;

    &.style2 {
        gap: 20px 40px;
    }
}

.filter-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    text-align: center;
    margin-bottom: 45px;

    @include lg {
        margin-bottom: 40px;
    }

    @include md {
        margin-top: -10px;
        margin-bottom: 45px;
        gap: 6px;
    }

    .th-btn {
        border-radius: 5px;
        padding: 11px 20px;
        background-color: transparent;
        color: $body-color;
        border: 1px solid $border-color;
        min-width: auto;
        color: var(--title-color);
        font-size: 18px;

        &:before {
            background-color: $theme-color;
        }

        &:hover,
        &.active {
            border-color: var(--theme-color);
            color: var(--theme-color);

            &:before {
                border-radius: 3px;
            }
        }

        @include md {
            padding: 13px 20px;
        }
    }
}

@include lg {
    p {
        &.mb-40 {
            margin-bottom: 35px;
        }

        &.mb-45 {
            margin-bottom: 38px;
        }
    }
}

.modal-backdrop.show {
    opacity: .7;
    z-index: 99;
}

.modal {
    z-index: 999;
    padding-right: 0 !important;
}

.modal-dialog {
    max-width: 100%;

    .modal-content {
        background: transparent;
        border: 0;

        .modal-header {
            border: 0;
        }
    }

    .btn-close {
        padding: 0;
        outline: 0;
        box-shadow: none;
        margin: 0 10px 0 auto;
        border-radius: 50%;
        background: $theme-color;
        color: $white-color;
        border: 0;
        opacity: 1;

        &:hover {
            i {
                animation: toTopFromBottom .5s forwards;
            }
        }
    }
}