@use 'base/variable' as *;
@use 'base/mixin' as *;

.th-header {
    position: relative;
    z-index: 41;

    .icon-btn {
        border-radius: 99px;
    }

    .menu-area {
        position: relative;
        z-index: 2;
    }
}

.sticky-wrapper {
    transition: 0.4s ease-in-out;

    &.sticky {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background-color: $white-color;
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.07));
        animation: stickyAni 0.4s ease-in-out;
    }
}

@keyframes stickyAni {
    0% {
        transform: translate3d(0, -40px, 0) scaleY(0.8);
        opacity: 0.7;
    }

    100% {
        transform: translate3d(0, 0, 0) scaleY(1);
        opacity: 1;
    }
}

.main-menu {
    a {
        display: block;
        position: relative;
        font-weight: 600;
        font-size: 16px;
        font-family: $title-font;
        color: $title-color;
        text-transform: uppercase;
        letter-spacing: 0.06em;

        &:hover {
            color: $theme-color;
        }
    }

    >ul {
        >li {
            margin: 0 20px;

            >a {
                padding: 32px 0;

                &:hover {
                    color: $theme-color;
                }
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            display: inline-block;
            position: relative;

            &:has(.sub-menu),
            &:has(.mega-menu),
            &.menu-item-has-children {
                >a {
                    &:after {
                        content: "\f107";
                        display: inline-block;
                        position: relative;
                        font-family: $icon-font;
                        margin-left: 5px;
                        font-weight: 600;
                        top: 0;
                        font-size: 0.9em;
                        color: $title-color;
                        transition: 0.3s ease-in-out;
                    }

                    &:hover {
                    
                        &:after {
                            content: "\f106";
                            transform: rotate(180deg);
                            color: $theme-color;
                        }
                    }
                }
            }

            &:last-child {
                margin-right: 0 !important;
            }

            &:first-child {
                margin-left: 0 !important;
            }

            &:hover {
                >ul.sub-menu {
                    visibility: visible;
                    opacity: 1;
                    transform: scaleY(1);
                    z-index: 9;
                }

                ul.mega-menu {
                    visibility: visible;
                    opacity: 1;
                    transform: scaleY(1) translateX(0%);
                    z-index: 9;
                    border-bottom: 3px solid $theme-color;
                }
            }
        }
    }

    ul.sub-menu {
        position: absolute;
        text-align: left;
        top: 100%;
        left: 0;
        background-color: $white-color;
        visibility: hidden;
        min-width: 230px;
        width: max-content;
        padding: 7px;
        left: -14px;
        opacity: 0;
        z-index: -1;
        box-shadow: 0px 4px 15px rgba(1, 15, 28, 0.06);
        border-radius: 0;
        transform: scaleY(0);
        transform-origin: top center;
        transition: all 0.4s ease 0s;

        a {
            font-size: 16px;
            line-height: 30px;
        }
    }

    ul.sub-menu {
        padding: 18px 20px 18px 18px;
        left: -27px;

        li {
            display: block;
            margin: 0 0;
            padding: 0px 9px;

            &:has(.sub-menu),
            &:has(.mega-menu),
            &.menu-item-has-children {
                >a {
                    &:after {
                        content: "\f105";
                        float: right;
                        top: 1px;
                        display: inline-block;
                    }

                    &:hover {
                        &:after {
                            content: "\f105";
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            a {
                position: relative;
                padding-left: 23px;

                &:before {
                    content: "\f2e7";
                    position: absolute;
                    top: 6px;
                    font-family: $icon-font;
                    width: 11px;
                    height: 11px;
                    text-align: center;
                    border-radius: 50%;
                    display: inline-block;
                    font-size: 1em;
                    line-height: 1;
                    color: $theme-color;
                    font-weight: 400;
                    visibility: visible;
                    opacity: 1;
                    left: 0;
                    transition: 0.3s ease-in-out;
                }
            }

            ul.sub-menu {
                left: 100%;
                right: auto;
                top: 0;
                margin: 0 0;
                margin-left: 20px;

                li {
                    ul {
                        left: 100%;
                        right: auto;
                    }
                }
            }
        }
    }

    .mega-menu-wrap {
        position: static;
    }
}

@media (max-width: 1500px) {
    .main-menu>ul>li {
        margin: 0 13px;
    }
}

.menu-style1 {
    >ul>li {
        margin: 0 14px;

        @include xl {
            margin: 0 10px;
        }

        >a {
            padding: 17px 0;
            color: $white-color;

            &:hover {
                color: $theme-color2;
            }
        }
    }

    ul li.menu-item-has-children>a:after {
        color: $white-color;
    }
}


.simple-icon {
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 24px;
    position: relative;

    &:has(.badge) {
        padding-right: 8px;
    }

    .badge {
        top: -8px;
        right: 0;
        font-size: 12px;
    }
}

.header-button {
    display: flex;
    align-items: center;
    gap: 16px;

    .icon-btn {
        .badge {
            font-size: 12px;
            top: 0;
            right: 0;
        }

        &:hover {
            .badge {
                background: $white-color;
                color: $theme-color;
            }
        }
    }

    .th-btn {
        margin-left: 16px;
    }
}

.social-links {
    .social-title {
        font-weight: 500;
        font-size: 16px;
        display: inline-block;
        margin: 0 10px 0 0;
        color: $body-color;
    }

    a {
        font-size: 14px;
        display: inline-block;
        color: $body-color;
        margin: 0 15px 0 0;

        &:last-child {
            margin-right: 0 !important;
        }

        &:hover {
            color: $theme-color;
        }
    }
}

.header-logo {
    padding-top: 15px;
    padding-bottom: 15px;

    a {
        &:hover {
            color: $white-color;
        }
    }
}

.header-links {
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
    }

    li {
        display: inline-block;
        position: relative;
        font-size: 14px;
        font-weight: 400;
        font-family: $body-font;

        &:not(:last-child) {
            margin: 0 50px 0 0;

            &:after {
                content: '';
                height: 16px;
                width: 1px;
                background-color: $white-color;
                opacity: 0.4;
                position: absolute;
                top: 0px;
                right: -25px;
                margin-top: 5px;
            }
        }

        >i {
            margin-right: 10px;
            color: $theme-color4;
        }
    }

    .header-contact {
        font-family: $title-font;
        font-size: 18px;
        font-weight: 600;

        i {
            font-size: 16px;
        }
    }

    li,
    span,
    p,
    a {
        color: $white-color;
    }

    a:hover {
        color: $theme-color3;
    }

    b,
    strong {
        font-weight: 600;
        margin-right: 6px;
    }

    .th-social {
        a {
            &:hover {
                color: $title-color;
            }
        }
    }
}

.header-notice {
    margin: 0;
}

.header-top {
    padding: 10px 0;
    background-color: $black-color2;
}

.dropdown-link {
    position: relative;

    >a {
        color: $body-color;

        i {
            color: $theme-color;
            margin-right: 5px;
        }
    }
}

.dropdown-toggle::after {
    content: "\f078";
    border: none;
    font-family: $icon-font;
    vertical-align: middle;
    font-weight: 400;
    margin-left: 6px;
    margin-top: -1px;
}

.dropdown-menu {
    width: fit-content;
    min-width: auto;
    top: calc(100% + 6px) !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    padding: 8px 20px !important;
    text-align: center;
    border-color: $border-color;

    li {
        padding-right: 0;
        margin-right: 0;

        &:after {
            display: none;
        }

        a {
            display: block;
            font-weight: 400;
            font-size: 14px;
        }
    }

    a {
        color: $title-color !important;

        &:hover {
            color: $theme-color !important;
        }
    }

    &:before {
        content: "";
        position: absolute;
        left: 50%;
        top: -7px;
        width: 14px;
        height: 14px;
        margin-left: -7px;
        background-color: var(--white-color);
        z-index: -1;
        transform: rotate(45deg);
        border-top: 1px solid $border-color;
        border-left: 1px solid $border-color;
    }
}

.header-icons {
    display: flex;
    display: flex;
    gap: 15px;

    .icon-btn {
        font-size: 18px;

        .badge {
            font-size: 12px;
            top: 0;
            right: 0;
        }

        &:hover {
            .badge {
                background-color: $title-color;
            }
        }
    }
}

.header-search {
    position: relative;

    input {
        height: 46px;
        border: 1px solid $border-color;
        width: 500px;
        max-width: 100%;

        &:focus {
            border-color: $theme-color;
        }

        @include lg {
            max-width: 350px;
        }
    }

    button {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background-color: $theme-color;
        color: $white-color;
        width: 50px;
        height: 46px;
        line-height: 45px;
        text-align: center;
        padding: 0;
        border-radius: 0 99px 99px 0;
    }
}

.menu-expand {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: $white-color;
    background-color: $theme-color2;
    padding: 17px 25px;
    width: 100%;

    @include xl {
        font-size: 15px;
    }

    i {
        margin-right: 15px;
    }

    &:hover {
        color: $white-color;
    }
}

/* Header default ---------------------------------- */
@media (min-width: 1700px) {
    .header-default {
        --main-container: 1720px;
    }
}

@media (max-width: 1600px) {
    .header-default {
        .header-logo {
            padding-right: 50px;
        }

        .header-button {
            padding-left: 50px;
        }
    }
}

@include xl {
    .header-default {
        .header-logo {
            padding-right: 0;
            border-right: 0;
        }

        .header-button {
            padding-left: 0px;
            border-left: 0;
        }
    }
}

@include lg {
    .header-default .logo-bg {
        width: 29%;
    }
}

@include md {
    .header-logo {
        padding-top: 16.5px;
        padding-bottom: 16.5px;
    }

    .header-default .header-logo img {
        width: 140px;
    }

    .header-top {
        padding: 12px 0;
    }

    .header-default .logo-bg {
        width: 39%;
    }

    .header-default.style-3 .icon-btn {
        color: var(--white-color);
    }
}

@include sm {
    .header-default .logo-bg {
        width: 49%;
    }
}

@include xs {
    .header-default {
        .header-logo {
            h2 {
                font-size: 36px;
            }

            img {
                max-width: 160px;
            }
        }
    }

    .header-default .logo-bg {
        width: 57%;
        clip-path: polygon(0 0, 100% 0, calc(100% - 40px) 100%, 0% 100%);
    }
}

@include vxs {
    .header-default .logo-bg {
        width: 60%;
    }
}

@media (max-width: 360px) {
    .header-default .header-logo img {
        max-width: 130px;
    }

    .header-logo {
        padding-top: 15.5px;
        padding-bottom: 15.5px;
    }

    .header-logo img {
        max-width: 130px;
    }
}

/* Header 2 ---------------------------------- */
.header-default.style-2 {
    .header-logo {
        position: relative;

        &:before {
            position: absolute;
            right: -150px;
            clip-path: polygon(12% 0, 24% 0, 80% 100%, 67% 100%);
            height: 100px;
            background: #072F25;
            width: 90px;
            content: "";
            top: 0px;
        }
    }

    .header-logo {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width: 1600px) {
    .header-layout2 {
        .th-btn {
            display: none;
        }
    }
}

@include xxl {
    .header-layout2 {
        .th-btn {
            display: inline-block;
        }
    }
}

@include xl {
    .header-layout2 {
        .header-button {
            .th-btn {
                display: none;
            }
        }
    }
}

@media (max-width: 500px) {
    .header-default.style-2 .header-logo::before {
        right: -100px;
    }
}

@include vxs {
    .header-default.style-2 .header-logo::before {
        display: none;
    }
}
